:root{
    --Primario:#32344F;
    --PrimarioClaro:#62659A;
   
    --blanco:#FFFFFF;
    --negro:#000000;
    --fuente:'PT Serif', serif;
}
/*Codigo posi*/
html{
    box-sizing: border-box;
    font-size: 62.5%; /*esto permite agregar que 1 rem = 10px*/
}

*,*:before,*:after{
box-sizing: inherit;   
}
/*codigo*/
body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: var(--fuente);
    background-color: var(--PrimarioClaro);
}


a{
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--blanco);
}
 
 
    h1{
        font-size: 3.8rem;
    }
    h2{
        font-size: 2.8rem;
        color: var(--blanco);
        text-align: center;
    }
    h3{
        font-size: 2rem;
        color: var(--blanco);
    }
    h4{
        font-size: .8rem;
    }
    p{ 
        padding: 1rem;
        color: var(--blanco);
    } 
 
.icono{
   
    text-align: center;
    width: 100%;
    height: 100%;
    color: var(--blanco); 
}
/*navegacion*/
.navegacion{ 
    display: grid; 
    gap: 2rem;
    margin: 0 auto;
    background-color: var(--Primario);
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    height:100%; 
    width: 100%;  
}
.enlaces{ 
    height: 5rem;    
    padding: 1rem;
    text-align: center; 
}
.enlaces:hover{
    background-color: var(--PrimarioClaro);
   
} 

@media (min-width: 910px){
   
  .navegacion{  
    justify-content: space-between; 
    grid-template-columns: repeat(6,1fr);
    width: 100%;
    height: 5rem; 
    background-color: var(--Primario);
  }
    
}
/*contenido*/
.contenido{
   padding-top: 6rem; 
}
/*presentacion*/
.presentacion{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    background-image: url('../img/presentacion.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60rem;
}
.presentacion_texto{
    background-color: RGBA(0,0,0,0.80);
    box-shadow: 0px 0px 28px 5px rgba(0,0,0,0.15);
    padding: 2rem;
    margin: 2rem;
    color: var(--blanco);
    text-align: center;
}
@media (max-width: 768px){
    .presentacion{
      
        grid-template-columns: 1fr; 
        height: 70rem;  
    }
  .presentacion_texto{
   
   margin: 1rem;

  }
  .presentacion_texto h1{
      font-size: 2.8rem;
  }
}
.presentacion_galeria{
    display: grid;
    justify-content: space-between;
   
    grid-template-columns: repeat(2,1fr);
   gap: 1rem;
   padding: 5rem;
    width: 100%;
    height: 100%;
 }

 .foto1{
     background-image: url("../img/galeria1.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
     height: 20rem; 
 }

 .foto2{
    background-image: url("../img/galeria2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 20rem; 
}
.foto3{
    background-image: url("../img/galeria3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 20rem; 
}


/*soporte*/

.soporte{
    padding: 1rem;
    background-image: url('../img/soportewlp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
     width:100%;
    margin: 0 auto;
    padding: 4rem;
}
.soporte_contenidos{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1,1fr); 
    gap: 3rem; 
    width: 100%;
    margin: 0 auto;
}
 

.soporte_contenido{
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 23px -1px rgba(0,0,0,1);
    background-color: RGBA(0,0,0,0.80);
    border-radius: 15%;
} 
 
.soporte_texto h3,
.precio_soporte h3{
    color: #A0A0A0;
    text-align: center;
}
.precio_soporte h2{
    color:  #FF1700 ;
    text-align: center; 
}
 
@media (min-width: 1000px){
    .soporte_contenidos{
   
        grid-template-columns: repeat(3,1fr);
        width: 80%;
        
    }
    
    .soporte{
        padding: 1rem;
        background-color: var(--PrimarioClaro); 
        height: 100%;
        width:100%;
        padding: 4rem;
    }
}
@media (min-width: 1400px){
    .soporte_contenidos{
   
        grid-template-columns: repeat(3,1fr);
        width: 80%;
        
    }
    
    .soporte{
        padding: 1rem;
        background-color: var(--PrimarioClaro); 
        height: 100%;
     width:100%;
     padding: 4rem;

    }
    .soporte_contenido{
        width: 326px;
       
        box-shadow: 0px 2px 23px -1px rgba(0,0,0,1);
        background-color: RGBA(0,0,0,0.80);
    }
} 

 .soporte_texto p{
     font-size: 2rem;
 }
/*desarrollo*/
.desarrollo{
    padding: 1rem;
    background-image: url('../img/desarrollowallp2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
     width:100%;
    margin: 0 auto;
    padding: 4rem;
}
.desarrollo_contenidos{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1,1fr); 
    gap: 3rem; 
    width: 100%;
    margin: 0 auto;
}
 

.desarrollo_contenido{
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 23px -1px rgba(0,0,0,1);
    background-color: RGBA(0,0,0,0.80);
    border-radius: 15%;
} 
 
.desarrollo_texto h3,
.precio_desarrollo h3{
    color: #A0A0A0;
    text-align: center;
}
.precio_desarrollo h2{
    color:  #FF1700 ;
    text-align: center; 
}
 
@media (min-width: 1000px){
    .desarrollo_contenidos{
   
        grid-template-columns: repeat(3,1fr);
        width: 80%;
        
    }
    
    .desarrollo{
        padding: 1rem;
        background-color: var(--PrimarioClaro); 
        height: 100%;
        width:100%;
        padding: 4rem;
    }
}
@media (min-width: 1400px){
    .desarrollo_contenidos{
   
        grid-template-columns: repeat(3,1fr);
        width: 80%;
        
    }
    
    .desarrollo{
        padding: 1rem;
        background-color: var(--PrimarioClaro); 
        height: 100%;
     width:100%;
     padding: 4rem;

    }
    .desarrollo_contenido{
        width: 326px;
       
        box-shadow: 0px 2px 23px -1px rgba(0,0,0,1);
        background-color: RGBA(0,0,0,0.80);
    }
} 

 .desarrollo_texto p{
     font-size: 2rem;
 }

/*Nosotros*/



/*footer*/
.footer{
    background-color: var(--Primario);
    color: var(--blanco);
    font-size: 1.5rem;
    text-align: end;
    padding: 2rem; 
    margin-top: 1rem;
}

