:root{
    --Primario:#32344F;
    --PrimarioClaro:#62659A;
   
    --blanco:#FFFFFF;
    --negro:#000000;
    --fuente:'PT Serif', serif;
}
 
body{
    width: 100%;
    margin: auto;
    font-family: var(--fuente);
    background-color: var(--PrimarioClaro);
}

h1{
    font-size: 2.8rem;
}
h2{
    font-size: 1.8rem;
}
h3{
    font-size: 0.8rem;
    color: var(--blanco);
}
h4{
    font-size: .4rem;
}
p{
    font-size: .4;
    padding: 1rem;
}
a{
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--blanco);
}
img{
    max-width: 100%;
} 

@media (min-width: 768px){
    h1{
        font-size: 3.8rem;
    }
    h2{
        font-size: 2.8rem;
    }
    h3{
        font-size: 1.8rem;
        color: var(--blanco);
    }
    h4{
        font-size: .8rem;
    }
    p{
        font-size: .4;
        padding: 1rem;
    }
}

/*navegacion*/
.navegacion{
    width: 100%;
    background-color: var(--Primario);
    display: grid;
    justify-content: center;
    text-align: center;
    color: var(--blanco);
    grid-template-columns: repeat(1,1fr);
    gap: 1rem; 
 
}

.navegacion a:hover{
    background-color: var(--PrimarioClaro);
    color: var(--negro);
    justify-content: center;
    text-align: center; 
    width: 100%;
    height: 100%;   
}

@media (min-width: 768px){
    .navegacion{
        width: 100%;
        background-color: var(--Primario);
        display: grid;
        justify-content: space-between;
        text-align: center;
        color: var(--blanco);
        grid-template-columns: repeat(6,1fr);
        gap: 1rem; 
      
    }
    
    .navegacion a:hover{
        background-color: var(--PrimarioClaro);
        color: var(--negro);
        justify-content: space-between;
        text-align: center; 
        width: 100%;
        height: 100%;   
    }
}
/*contenido*/
.contenido{
    margin: 0 auto;
    }
/*presentacion*/
.presentacion{
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url("../img/presentacion.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
    color: var(--blanco);  
   
    margin: 0 auto;
}
.presentacion_texto{
    box-shadow: 0px 2px 23px -1px rgba(0,0,0,1);
    background-color: rgba(0,0,0,.5);
    width: 15rem; 
    
}
 


@media (min-width: 768px){
    .presentacion{
        background-image: url("../img/presentacion.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 40rem;
        color: var(--blanco); 
        margin: 0 auto;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .presentacion_texto{
        box-shadow: 0px 2px 23px -1px rgba(0,0,0,1);
        background-color: rgba(0,0,0,.5);
        width: 30rem;
        
    }
}
/*soporte*/

.soporte{
    padding: 1rem;
    background-color: var(--PrimarioClaro);
    height: 100rem;
    width: 70%;
    margin: 0 auto;
}
.soporte_contenidos{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1,1fr); 
    gap: 1rem; 
}
 

.soporte_contenido{
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 23px -1px rgba(0,0,0,1);
    background-color: var(--Primario);
} 
 
.soporte_texto h3,
.precio_soporte h3{
    color: var(--PrimarioClaro);
    text-align: center;
}
.precio_soporte h2{
    color:  var(--blanco) ;
    text-align: center; 
}

@media (min-width: 1000px){
    .soporte_contenidos{
   
        grid-template-columns: repeat(3,1fr);
        width: 100%;
        
    }
    
    .soporte{
        padding: 1rem;
        background-color: var(--PrimarioClaro); 
        width: 80%;
        height: 40rem;
    }
}
@media (min-width: 1400px){
    .soporte_contenidos{
   
        grid-template-columns: repeat(3,1fr);
        width: 100%;
        
    }
    
    .soporte{
        padding: 1rem;
        background-color: var(--PrimarioClaro); 
        width: 80%;
        height: 40rem;
    }
    .soporte_contenido{
        width: 326px;
        height: 462px;
        box-shadow: 0px 2px 23px -1px rgba(0,0,0,1);
        background-color: var(--Primario);
    }
}

 
/*desarrollo*/
.desarrollo{
    padding: 1rem;
    background-color: var(--Primario);

}
.desarrollo_contenidos{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    height: 25rem;
    gap: 2rem;
    margin:1rem auto;
}
.desarrollo_contenido1,
.desarrollo_contenido2,
.desarrollo_contenido3,
.desarrollo_contenido4,
.desarrollo_contenido5,
.desarrollo_contenido6{
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 23px -1px rgba(0,0,0,1);
    background-color: var(--PrimarioClaro);
} 
/*Nosotros*/



/*footer*/
.footer{
    background-color: var(--PrimarioClaro);
    color: var(--blanco);
    font-size: 0.8rem;
    text-align: end;
    padding: 1rem; 
    
}

